.hidden {
    opacity: 0;
    width: 100%;
    height: auto;
    filter: blur(5px);
    transition: all 2s;
}

.hidden1 {
    opacity: 0;
    width: 100%;
    height: auto;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden2 {
    opacity: 0;
    width: 100%;
    height: auto;
    filter: blur(2px);
    transition: all 3.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}