* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  background-color: white;
  color: blue;
}

li {
  list-style: none;
  color: rgb(216, 9, 9)
}

a {
  text-decoration: none;
  color: blue;
  font-size: 1rem;
}

a:hover {
  color: rgb(216, 9, 9);
}


/*HEADER*/
.logopic {
  max-height: 10vh;
  float: left;
}

.logopic:hover {
  transition: opacity;
  opacity: .6;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner h1 {
  font-size: 5.5vh;
}

@media only screen and (max-width: 400px) {
  .banner h1 {
    font-size: 3.2vh;
  }
}

.bannertxt {
  color: rgb(216, 9, 9);
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  text-align: center;
}

header {
  position: relative;
  padding: 0 2rem;
  margin-top: .2%;

}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
}

.action_btn {
  background-color: rgb(216, 9, 9);
  color: white;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: black;
}

.action_btn:active {
  scale: .95;
}


/*Dropdown Menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  backdrop-filter: blur(10px) contrast(0.6);
  -webkit-backdrop-filter: blur(10px) contrast(0.6);
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgba (255, 255, 255, .1);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 250px;
  margin-top: 16%;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 850px) {
  .toggle_btn {
    display: none;
  }
}

/*Responsive Design*/
@media(max-width: 850px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    z-index: 1000;
  }
}

@media(max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media only screen and (min-width: 601px) {
  .bannertxt {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .bannertxt {
    font-size: 2em;
  }
}

@media only screen and (max-width:850px) {
  .hrtop {
    display: none;
  }
}


@media only screen and (max-width:600px) {
  .bioimgs {
    display: none;
  }
}



/*Home Section*/

section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.special {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./Images/Facility1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#backgroundVideo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  opacity: .75;
  filter: blur(1px);
}


@media only screen and (max-width: 800px) {
  .special {
    background-image: url(./Images/Facility1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #backgroundVideo {
    display: none;
  }

  section {
    min-height: 75vh;
  }
}



.Homeoftxt {
  font-size: 6vw;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px rgb(216, 9, 9);
  padding: 0 5% 0 5%;
  font-family: 'Dancing Script', cursive !important;

}

span {
  opacity: 0;
  transition: all .2s ease;
  font-family: 'Dancing Script', cursive !important;
}

span.fade {
  opacity: 1;
}

.transparentlogo {
  height: 40vh;
  width: 40vh;
}



@media only screen and (max-width: 800px) {
  .transparentlogo {
    visibility: hidden;
    width: 0;
    position: absolute;
    z-index: -100;
    margin-left: -1000%;
  }

  .Homeoftxt {
    font-family: 'Anton', sans-serif;
  }
}


@media only screen and (max-width: 600px) {
  .Homeoftxt {
    margin-top: 15%;
  }
}

.homeinfodiv {
  background-color: blanchedalmond;
}

.homeinfo {
  font-size: 3.5vw;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.viewgallery {
  background-color: whitesmoke;
  color: rgb(216, 9, 9);
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 4vw;
  cursor: pointer;
  transition: scale .2 ease;
  width: 50vw;
  min-height: 6vh;
  border: rgb(216, 9, 9) 2.5px solid;
  font-family: 'Anton', sans-serif;
  letter-spacing: .2vw;
}

.homeinfodiv2 {
  background-color: whitesmoke;
}

.viewtrainers {
  background-color: blanchedalmond;
  color: rgb(216, 9, 9);
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 3.8vw;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  transition: scale .2 ease;
  width: 50vw;
  min-height: 6vh;
  border: rgb(216, 9, 9) 2.5px solid;
  letter-spacing: .2vw;
}

@media only screen and (max-width: 600px) {
  .viewtrainers {
    font-size: 3.5vw;
  }
}

.viewmembershipsbutton {
  background-color: whitesmoke;
  color: rgb(216, 9, 9);
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 4vw;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  transition: scale .2 ease;
  width: 50vw;
  min-height: 6vh;
  border: rgb(216, 9, 9) 2.5px solid;
  letter-spacing: .2vw;
}

.hrs {
  font-size: 3vw;
  color: rgb(216, 9, 9);
  margin-bottom: 5%;
  text-align: left;

}

.hoursinfo {
  color: black;
  font-size: 2.5vw;
  font-weight: bolder;
  text-align: justify;

}

.hrsbox {
  min-width: 20vw;
  margin-left: 2%;
}

.contactinfohome {
  color: rgb(216, 9, 9);
  font-size: 3vw;
  margin-top: 3%;
}

.phonenumberhome {
  color: black;
  font-size: 2.5vw;
}

.contactinfo {
  margin-left: 2%;
}

iframe {
  height: 30vh;
  width: 100%;
  margin-top: 5%;
  border: 2px rgb(216, 9, 9) solid;
}

@media only screen and (min-width: 750px) {
  iframe {
    height: 50vh;
    min-width: 40vw;
  }
}

.hidden {
  opacity: 0;
  width: 100%;
  height: auto;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all .5s;

}

.hidden2 {
  opacity: 0;
  width: 100%;
  height: auto;
  filter: blur(2px);
  transition: all 3.5s;
  z-index: 1000;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/*Memberships Section*/

.membershipcontainer {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-around;
  gap: 2.5%;
}

.memboxes {
  border: solid 2px blue;
  padding-left: 2%;
  padding-right: 2%;
  flex: .10 .50 200px;
  height: 400px;
  margin-bottom: 2.5%;
}

.head {
  text-align: center;
  color: blue;
  margin-top: 1.5%;
  margin-bottom: 1.5%;

}

.price {
  font-size: 60px;
  color: rgb(216, 9, 9);
  text-align: center;
  margin-top: 15%;
  font-weight: bolder;
}

.descriptionofpurchase {
  text-align: center;
}

.descriptionofmem {
  text-align: center;
  margin-top: 8%;
  color: blue;
  font-size: 16px;
  font-weight: bold;
}

.descriptionofmemannual {
  text-align: center;
  margin-top: 8%;
  color: blue;
  font-size: 13px;
  font-weight: bold;
}

.action_btn1 {
  background-color: rgb(216, 9, 9);
  color: white;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  width: 100%;
  margin-top: 25%;
}

.action_btn2 {
  background-color: rgb(216, 9, 9);
  color: white;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  width: 100%;
  margin-top: 35%;
}

.action_btn3 {
  background-color: rgb(216, 9, 9);
  color: white;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  width: 100%;
  margin-top: 10%;
}

.action_btn4 {
  background-color: rgb(216, 9, 9);
  color: white;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  width: 100%;
  margin-top: 10%;
}


/*Independent Personal Trainers Section*/

.iptcontainer {
  display: inline-flex;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5%;
}

.Thead {
  color: blue;
  text-align: center;
  font-weight: bolder;

}

.Timages {
  min-height: 32vh;
  width: 100%;
  margin-bottom: 2.5%;
}

.Tboxes {
  border: solid 3px blue;
  border-radius: 15px;
  padding-left: 2%;
  padding-right: 2%;
  flex: .10 .50 300px;
  min-height: 410px;
  margin-bottom: 2.5%;
}

.Viewprofile {
  background-color: rgb(216, 9, 9);
  color: white;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2%;
}

button:hover {
  scale: 1.05;
  color: black;
}




/*About Section*/
.videobox {
  align-items: center;
  align-content: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.videoabout {
  max-width: 90vw;
  min-height: 75vh;
  border: solid 4px black;
  border-radius: 10px;
}

.about_footer {
  margin-top: 3%;
  text-align: right;
  padding-bottom: 10%;
  font-size: 25px;
  color: rgb(216, 9, 9);
  margin-right: 3.5%;
}

.phonenumber {
  color: black;
}


/*Maselka Bio*/

.biotlt {
  text-align: center;
  color: black;
  font-weight: bolder;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.bioboxes {
  color: black;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


}

.Maselkatxt {
  color: black;
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
  font-size: 1.4em;

}

.Maselkavideo {
  border: solid 3px rgb(216, 9, 9);
  border-radius: 10px;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 2.5%;
}

/*Loza Bio*/

.lazobiobox {
  color: black;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5em;
  margin-bottom: 2.5%;
  width: 100%;
}

.lazobiobox1 {
  color: black;
  text-align: left;
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.5%;

}

.lozatltbox {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

}

/*Watkins Bio*/
.Watkinsimg {
  max-width: 50vw;
  min-width: 45vw;
}

.Watkinslogo {
  max-width: 10vw;
}

.Watkinstlt {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: black;
}

.TJClogo {
  width: 9vw;
  margin-top: 1%;
}

/*Gallery*/

.gallerybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
}

.galleryimgs {
  width: 95%;
  height: auto;
  margin-bottom: 2%;
}


/*Footer*/
.footer {
  display: block;
  background-color: white;
  color: rgb(216, 9, 9);
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.footerlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-bottom: 1%;
  margin-top: 1%;
  color: black;
}

.footerbox {
  flex-grow: .5;
  flex-shrink: 1;
  margin: 1.5% 1.5% 1.5% 1.5%;
}

.footerlogo {
  margin-top: 1%;
  max-height: 75px;
  cursor: pointer;
}

.footerlogo:hover {
  opacity: .6;
}